/*@mobile: ~ "(max-width: 767px)";
@tablet: ~ "(min-width: 768px)";
@desktop: ~ "(min-width: 1080)";*/
/*@blue:#29c5e6;*/
.page-header {
  background: #eee;
  padding: 10px 0;
}
.page-header .navbar-header .navbar-toggle {
  border: 1px solid #ddd;
  border-radius: 0;
}
.page-header .navbar-header .navbar-toggle .icon-bar {
  background: #ddd;
}
.page-logo {
  display: inline-block;
  padding: 15px;
  padding-left: 120px;
  min-height: 60px;
  min-width: 60px;
  background: url(../img/page-logo.png) no-repeat 30px 50%;
  font-size: 20px;
}
.page-nav__link {
  padding: 10px 25px !important;
  position: relative;
}
.page-nav li::before {
  display: none;
}
.page-nav li:not(:last-child)::after {
  content: '';
  display: block;
  width: 1px;
  height: 20px;
  background: #000;
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -10px;
}
.contacts__header {
  margin-bottom: 40px;
}
.contacts__address {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 30px;
}
.contacts__form textarea {
  resize: vertical;
}
.map {
  height: 400px;
  width: 100%;
  margin-bottom: 20px;
}
.page-footer {
  background: #eee;
  width: 100%;
}
.page-footer__wrapper {
  padding: 20px 0 0;
}
.page-footer__item {
  margin-bottom: 20px;
}
.page-footer__nav li {
  margin: 5px;
}
.page-footer address {
  line-height: 20px;
}
/*@font-face {
  font-family: Oswald;
  src: url("font/Oswald/Oswald-Light.ttf");
}*/
/*.lcw() {
  max-width:1080px;
  margin: 0 auto;
}*/
body {
  margin: 0;
}
main {
  padding: 40px 0;
}
ul {
  list-style: none;
}
ul li {
  position: relative;
}
ul li::before {
  content: '';
  display: block;
  width: 10px;
  height: 1px;
  background: #000;
  position: absolute;
  left: -20px;
  top: 10px;
}
.features__item {
  padding: 10px;
  position: relative;
  padding-left: 100px;
  min-height: 80px;
}
.features__item a {
  font-size: 20px;
  margin-bottom: 5px;
  display: inline-block;
}
.features__item::before {
  content: '';
  display: block;
  width: 80px;
  height: 80px;
  background: no-repeat center;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -40px;
}
.features__item:nth-of-type(1)::before {
  background-image: url(../img/features/1.png);
}
.features__item:nth-of-type(2)::before {
  background-image: url(../img/features/2.png);
}
.features__item:nth-of-type(3)::before {
  background-image: url(../img/features/3.png);
}
.popular img {
  background: #eee;
}
.popular__header {
  margin-bottom: 30px;
}
.popular__item {
  margin-bottom: 20px;
  position: relative;
  padding-left: 70px;
}
.popular__item::before {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url(../img/sprite.png) no-repeat center;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -30px;
}
.popular__item:nth-of-type(1)::before {
  background-position: -152px -140px;
}
.popular__item:nth-of-type(2)::before {
  background-position: -74px -70px;
}
.popular__item:nth-of-type(3)::before {
  background-position: -83px -135px;
}
.licenses__container {
  margin-top: 20px;
}
.licenses__item {
  text-align: center;
}
.licenses__item img {
  width: 250px;
  height: 350px;
}
.licenses .intense {
  cursor: url('../img/intense/plus_cursor.png') 25 25, auto;
}
.customers__item {
  display: inline-block;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  height: 160px;
}
.customers__item img {
  text-align: center;
}
.customers__item p {
  margin: 10px 0;
}
.category ul li {
  padding: 5px;
}
.category ul li::before {
  top: 15px;
}
