.contacts {
	&__header {
		margin-bottom: 40px;
	}
	&__address {
		margin-bottom: 20px;
		font-size: 18px;
		line-height: 30px;
	}
	&__form {
		textarea {
			resize: vertical;
		}
	}
}
.map {
	height: 400px;
	width: 100%;
	margin-bottom: 20px;
}