.page-header {
	.navbar-header {
		.navbar-toggle {
			border: 2px solid @blue;
			border-radius: 0;
			.icon-bar {
				background: @blue;
			}
		}		
	}
}
.page-logo {
	display: inline-block;
	padding: 0;
	padding-left: 100px;
	line-height: 60px;
	min-height: 60px;
	min-width: 60px;
	background: url(../img/page-logo.png) no-repeat 30px 50%;
	font-size: 20px;
	color: #000;
	font-weight: bold;
	transition: all .3s;
	&:hover {
		text-decoration: none;
		color: @blue;
	}
}
.page-nav {
	.navbar {
		margin-bottom: 0;
	}
	&__link {
		font-size: 15px;
		padding: 20px 25px !important;
		position: relative;
		font-size: 16px;
		font-weight: bold;
		color: #000;
		transition: all .3s;
		&:hover {
			color: #fff;
			background: @blue !important;
		}
	}
	li {
		&::before {
			display: none;
		}
		&:last-child {
			a::after {
				display: none;
			}
		}
	}
}