.page-header {
	background: #eee;
	padding: 10px 0;
	.navbar-header {
		.navbar-toggle {
			border: 1px solid #ddd;
			border-radius: 0;
			.icon-bar {
				background: #ddd;
			}
		}
		
	}
}
.page-logo {
	display: inline-block;
	padding: 15px;
	padding-left: 120px;
	min-height: 60px;
	min-width: 60px;
	background: url(../img/page-logo.png) no-repeat 30px 50%;
	font-size: 20px;
}
.page-nav {
	&__link {
		padding: 10px 25px !important;
		position: relative;
	}
	li {
		&::before {
			display: none;
		}
		&:not(:last-child) {
			&::after {
				content: '';
				display: block;
				width: 1px;
				height: 20px;
				background: #000;
				position: absolute;
				left: 100%;
				top: 50%;
				margin-top: -10px;
			}
		}
	}
}