.page-header {
	background: #eee;
	.navbar-header {
		.navbar-toggle {
			border: 1px solid #ddd;
			border-radius: 0;
			.icon-bar {
				background: #ddd;
			}
		}
		
	}
}
.page-logo {
	padding-left: 100px;
	background: url(../img/page-logo.png) no-repeat 30px 50%;
}
.page-nav {
	&__link {
		padding: 10px 25px !important;
		position: relative;
	}
	li {
		&:not(:last-child) {
			&::after {
				content: '';
				display: block;
				width: 2px;
				height: 20px;
				background: #ccc;
				position: absolute;
				left: 100%;
				top: 50%;
				margin-top: -10px;
			}
		}
	}
}