.page-footer {	
	background: #f8f6f8 url(../img/body-bg.png);
	border-top: 1px solid #9fa8b2;
  width: 100%;
	//position: absolute;
	bottom: 0;
	&__wrapper {
		padding: 20px 0 ;
	}
	&__left {
		margin-bottom: 20px;
		@media @mobile {
			text-align: center;
		}
	}
	&__right {
		text-align: right;
		@media @mobile {
			text-align: center;
		}
	}
	&__nav {
		margin-bottom: 0;
    list-style: none;
		li {
			&:before {
				display: none;
			}
			a {
				color: #3b3c3d;
				padding: 5px;
				display: inline-block;
				font-size: 15px;
				font-weight: lighter;
				&:hover {
					color: darken(#3b3c3d, 100%);
					text-decoration: none;
				}
				@media @mobile {
					font-size: 20px;
					padding: 10px;
				}
			}
		}
	}
	address {
		line-height: 30px;
		font-size: 15px;
		margin-bottom: 0;
		color: #3b3c3d;
		font-weight: lighter;
		@media @mobile {
			font-size: 20px;
		}
	}
	.phone {
		font-size: 30px;
		font-weight: lighter;
		line-height: 40px;
		@media @mobile {
			margin-bottom: 20px;
		}
	}
	.copy {
		margin-top: 5px;
		@media @mobile {
			margin-top: 20px;
		}
	}
}